{% extends parent_template|default:"gifts/base_gifts.html" %}
{% load static %}

{{ block.super }}

{% block content %}

    <div class="info">
        <p>
            Here is the current version of the Christmas story the family is writing. Add the next part of the story by
            clicking the "Add to Story" button. It is possible, although not entirely likely, that the story will branch
            into several versions. If so, you can see, and add to, the different branches of the story by clicking on
            each of their links.
        </p>
    </div>

    <div class="line-grey"></div>

    <ul class="menu form-left">
        {% for branch in all_branches %}
            <li class="menu-list-item left">
                {% if branch.branch_number == forloop.counter %}
                    <a class="selected-menu-item" href="{% url 'display_story' branch.branch_number %}">
                        Branch {{ branch.branch_number }}
                    </a>
                {% else %}
                    <a class="menu-item" href="{% url 'display_story' branch.branch_number %}">
                        Branch {{ branch.branch_number }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="content">
        <div class="form-left">
            {% for entry in entries %}
                <div class="container-story">
                    <div class="name-col">
                        <p>{{ entry.get_author }}:</p>
                    </div>
                    <div class="text-col story-line">
                        <p>{{ entry.entry }}</p>
                    </div>
                </div>
            {% endfor %}
            <span class="right-col">
                <button>Add to Story</button>
            </span>
        </div>
    </div>

{% endblock %}
